@import '../../variablesGlobal';


.player-personalities{

    &__title{
        display: flex;
        h3 {
            display: flex;
            align-items: center;
            border-bottom: none;
            svg{
                margin-right: 8px;
            }
        }
    }

    &__introduction {
        margin-bottom: 48px;
        &--body {
            ul{
                padding-left: 24px;
            }
            div{
                margin-bottom: 16px;
            }
        }
    }


    &__table{
        margin-bottom: 48px;
        &-introduction {
            margin-top: 16px;
            margin-bottom: 24px;
        }

        .link-in-table{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }

        .skill-value-wrapper {
            display: flex;
        }

        .rating-color-0-5 { color: red; }
        .rating-color-6-10 { color: orange; }
        .rating-color-11-15 { color: limegreen; }
        .rating-color-16-20 { color: green; }
        .highlighted-row { background-color: #e2f0ff; }

    }

    &__descriptions {
        display: flex;
        align-items: center;
    }

}