.references {

  &__subjects {

    &__subject {
      margin-bottom: 24px;

      &--source {
        display: flex;
        > div {
          width: 50%;
        }

        &-header {
          p {
            font-size: .8rem;
            color: var(--secondaryColor);
          }
        }

        &-button {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .button {
            display: flex;
            padding: 12px;
            background-image: var(--fmButtonBackgroundColor);
            color: var(--colorText);
            border: none;
            cursor: pointer;
            border-radius: 4px;
            align-items: center;
            text-decoration: none;
            svg {
              margin-right: 4px;
            }
            &:hover{
              opacity: .9;
            }
          }
        }
      }
    }
  }
}