@import "../../App.scss";

.player-personalities__description {
  &-title {
    margin-bottom: 24px;
  }

  &-descriptions > div {
    padding: 8px 16px 16px;
    margin-bottom: 48px;
    box-shadow: $boxShadowCards;
    border-radius: 8px;
  }

  .content {
    .definition {
      margin-bottom: 16px;
      &__title {
        margin-bottom: 8px;
        font-style: italic;
        font-weight: bold;
      }
    }

    .effect {
      &__title {
        margin-bottom: 8px;
        font-style: italic;
        font-weight: bold;
      }
    }

    ul {
      padding-left: 24px;
    }
  }
}