.navigation {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rebeccapurple;

  ul {
    display: flex;

    li {
      list-style: none;
      margin-right: 88px;

      svg{
        align-items: center;
      }

      a {
        text-decoration: none;
        margin-right: 8px;

        &:hover {
          text-decoration: underline;
        }

        &:visited {
          color: #0000EE;
        }
      }
    }
  }
}