.overview {
  width: calc(100vw - 32px);
 &__list {
   &--item {
     list-style: none;
     margin-bottom: 8px;
     a {
       display: flex;
       align-items: center;
       text-decoration: none;
       &:hover {
         text-decoration: underline;
       }
       svg {
          margin-right: 4px;
       }
     }
   }
 }
}