:root {

  // Font Family
  --fontFamilyBody: "Montserrat","Arial Black","Arial Bold",sans-serif;
  --fontFamilyTitle: "GT America Extended Black","Arial Black","Arial Bold",sans-serif;

  // Colors
  --colorBackground: #232224;
  --colorText: #fffcfc;
  --secondaryColor: #a0a0a2;
  --fmThemePurpleColor: #3d1c6e;
  --fmThemePurpleBoxShadow: 0 0 20px rgba(0,0,0,.4);
  --fmThemePurpleBorder: 1px solid rgba(0,0,0,.6);
  --fmThemeOrangeColor: #efa528;

  --fmTableBackgroundColor: #262627;

  // Buttons
  --fmButtonBackgroundColor: linear-gradient(to right, #7152db , #664ec9);

  // Box shadows
  --boxShadowCards: 0 0 10px rgba(219, 217, 232, 0.5);
  --boxShadowLink: 0px 4px 8px 0px rgba(239, 165, 40, 1);

  // Breakpoints
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
}

body{
  margin: 0;
  font-family: var(--fontFamilyBody), serif;
  background-color:var(--colorBackground);
  color: var(--colorText);
  a,
  a:visited{
    color: var(--colorText) !important;
  }

  ul {
    padding-left: 0;
  }
}

.container{
  padding: 0 16px;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  transition: all 0.35s ease;
}

.p-component{
  font-family: var(--fontFamilyBody), serif;
  font-size: 15px
}

.p-datatable {

  &-tbody > tr > td,
  &-thead > tr > th {
    padding: 8px;
  }

  &-tbody > tr > td > ul {
    padding-left: 16px;
  }

  &-thead > tr > th {
    background: var(--fmTableBackgroundColor);
    color:var(--fmThemeOrangeColor);
  }

  &-tbody > tr {
    background: var(--fmTableBackgroundColor);
    color: var(--colorText);

    &:nth-child(even) {
      background-color: var(--colorBackground);
    }

    &:hover {
      background: #333132;
      opacity: .8;
    }

  }

  &-tbody > tr > td {
    border-bottom: none;
  }

  &-tbody > tr > td:not(:first-child) {
    color: var(--secondaryColor);
  }
}

.p-datatable-wrapper {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
      background-color: var(--secondaryColor);
      border-radius: 16px;
  }
  &::-webkit-scrollbar-thumb:hover {
      background-color: #8b8b8d;
  }
}



h3 {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4px;
  color: var(--fmThemeOrangeColor);
}

h4 {
    color: var(--fmThemeOrangeColor);
}

.navigation-title{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: var(--colorText);
  }
  a{
    text-decoration: none;
  }

  .navigate-descriptions{
    & ul {
      display: flex;
      & li {
        list-style: none;
        & a {
          text-decoration: none;
          margin-right: 8px;
          box-shadow: var(--boxShadowLink);
          padding: 4px 8px;
          border-radius: 4px;
          color: var(--fmThemeOrangeColor) !important;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
    @media only screen and (max-width: var(--sm)) {
      display: none;
    }
  }
}

img {
  border-radius: 8px;
}

