@import "variablesGlobal";

body{
  margin: 0;
  font-family: $fontFamilyBody;
  background-color:$colorBackground;
  color: $colorText;
  a,
  a:visited{
    color: $colorText !important;
  }
}

.container{
  padding: 0 16px;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}

.p-component{
  font-family: $fontFamilyBody;
  font-size: 15px
}

.p-datatable {

  &-tbody > tr > td,
  &-thead > tr > th {
    padding: 8px;
  }

  &-tbody > tr > td > ul {
    padding-left: 16px;
  }
}

h3 {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 4px;
}

.navigation-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    text-decoration: none;
  }

  .navigate-descriptions{
    & ul {
      display: flex;
      & li {
        list-style: none;
        & a {
          text-decoration: none;
          margin-right: 8px;
          box-shadow: $boxShadowLink;
          padding: 4px 8px;
          border-radius: 4px;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
    @media only screen and (max-width: $sm) {
      display: none;
    }
  }
}

