// Font family
$fontFamilyTitle: "GT America Extended Black","Arial Black","Arial Bold",sans-serif;
$fontFamilyBody: "Montserrat","Arial Black","Arial Bold",sans-serif;

// Colors
$colorBackground: #494D5F;
$colorText: ghostwhite;
$fmThemePurple: rebeccapurple;

// Box shadows
$boxShadowCards: 0px 1px 2px 0px rgba(105, 51, 153,0.7),
                  1px 2px 4px 0px rgba(105, 51, 153,0.7),
                  2px 4px 8px 0px rgba(105, 51, 153,0.7),
                  2px 4px 16px 0px rgba(105, 51, 153,0.7);

$boxShadowCards: 0 0 10px rgba(219, 217, 232, 0.5);

//$boxShadowCards: 0px 8px 16px 0px rgba(105, 51, 153, 1);
//0,255,255,0.7
$boxShadowLink: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
                  0 0 0 1px hsla(0, 0%, 0%, 0.05),
                  0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
                  0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                  0 3.5px 6px hsla(0, 0%, 0%, 0.09);

$boxShadowLink : 0px 4px 8px 0px rgba(0,255,255,0.7);


// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
