.coaches {

  &__introduction {
    margin-bottom: 48px;
  }

  &__attributes {
    display: flex;
    flex-wrap: wrap;

    &-navigation{
      display: flex;
      justify-content: space-between;
    }


    .coach-card {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 16px;
      margin: 16px 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .attribute {
      margin-bottom: 8px;
    }
  }


}